.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 425px) {
    overflow: scroll;
    padding: 40px;
    gap: 20px;
  }
  .card-one {
    display: block;
    @media screen and (max-width: 425px) {
      flex-shrink: 0;
      width: 100%;
      img {
        width: 100%;
      }
      .bottom-card{
        display: flex;
        justify-content: space-between;
        img{
            width: 30%;
        }
      }
    }
  }
}
// yangi yaratilgan git repo ga projectni ulash


//git init

//git remote branchni url git remote add origin https://github.com/azimjon750akromoff/test2.git

// qilingan ozgarishlarni kiritish


// git add . ( qilgan ozgarishlarni qoshadi)

// git status orqali qoshilgani tekshiriladi

// git commit -m 'komentariya'

// git push origin branch_name